### Clasificación desempeño: MSLQ + Lab1

El modelo predice la calificación final del estudiante a partir de un algoritmo de clasificación, el umbral de desempeño es:

- 0 - Bajo desempeño  (calificación entre 0.0 y 2.9)
- 1 - Medio desempeño (calificación entre 3.0 y 4.0)
- 2 - Alto desempeño  (calificación entre 4.1 y 5.0)

#### Diccionario de datos

| Variable                  | Tipo             | Descripción |
|---------------------------|------------------|-------------|
| nombres                   | cadena           | Nombres del estudiante |
| lab_1                     | numérico decimal | Calificación del laboratorio 1 |
| final                     | numérico entero  | Calificación final (0- Bajo desempeño; 1- Medio desempeño; 2- Alto desempeño) |

#### Se importan las librerias

In [1]:
# Librería para matemáticas y estadísticas

# Librería para el manejo de datos

# Libreria para gráficas

# libreria para árboles de decisión

# Se importa la libreria para dividir los datos de entrenamiento y de pruebas

# Librerias para métricas del modelo

### Se cargan los datos al dataframe

In [2]:
# Se cargan los registros en un DataFrame 
# y se le asigna el nombre a las columnas
data = pd.read_csv("data/data_mslq.csv", sep=";")

data

,I1,I2,I3,I4,I5,I6,I7,I8,I9,I10,...,I68,I69,I70,I71,I72,I73,I74,I75,lab_1,final
0,4,7,3,7,2,4,3,7,3,5,...,5,6,6,5,4,5,4,5,3.8,0
1,1,7,7,5,5,2,7,7,5,1,...,7,6,7,7,2,6,6,6,4.1,2
2,5,7,2,7,7,7,7,7,1,7,...,7,7,7,7,7,7,1,6,4.0,2
3,1,4,6,6,4,5,6,2,5,1,...,5,4,5,5,7,5,5,4,3.5,2
4,5,7,6,6,7,6,6,6,7,7,...,7,6,7,7,4,7,7,7,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,4,6,5,5,5,5,5,5,4,4,...,5,6,6,6,5,6,6,6,5.0,2
203,1,7,7,7,7,7,7,7,7,7,...,7,7,7,7,1,7,7,7,4.7,0
204,1,4,7,4,7,5,7,4,6,1,...,4,7,4,5,2,5,1,5,5.0,2
205,7,7,7,7,7,7,3,4,7,7,...,3,7,7,7,4,7,1,7,5.0,0
206,5,7,6,7,7,7,7,6,7,6,...,5,7,7,7,5,7,6,6,5.0,2

### Preprocesamiento de datos

In [3]:
# Se buscan registros NaN para eliminarlos

#####
# INSERTE SU CÓDIGO AQUÍ
#####

# Se eliminan los registros NA
#data = data.dropna()

Columna   Cantidad NaN
I1       0
I2       0
I3       0
I4       0
I5       0
        ..
I73      0
I74      0
I75      0
lab_1    0
final    0
Length: 77, dtype: int64
(207, 77)

In [4]:
# Se consulta la cantidad de registros para Grade2

#####
# INSERTE SU CÓDIGO AQUÍ
#####

final
0    55
1    73
2    79
dtype: int64

In [5]:
# Se realiza el resample

#####
# INSERTE SU CÓDIGO AQUÍ
#####

0    79
1    79
2    79
Name: final, dtype: int64

In [6]:
# Se genera las estadísticas del DataFrame
data2.describe()

,I1,I2,I3,I4,I5,I6,I7,I8,I9,I10,...,I68,I69,I70,I71,I72,I73,I74,I75,lab_1,final
count,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,...,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000
mean,3.590717,5.704641,4.936709,5.886076,5.206751,5.489451,5.088608,4.708861,4.645570,3.594937,...,5.135021,5.890295,5.936709,6.088608,4.599156,5.578059,5.042194,5.582278,3.434177,1.000000
std,1.917028,1.274464,1.751574,1.196613,1.560733,1.280929,1.433762,1.650515,1.766242,1.872090,...,1.307863,1.125866,1.138782,1.083660,1.809719,1.395826,1.895108,1.339817,1.646920,0.818225
min,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,2.000000,5.000000,4.000000,5.000000,4.000000,5.000000,4.000000,4.000000,3.000000,2.000000,...,4.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,5.000000,2.500000,0.000000
50%,4.000000,6.000000,5.000000,6.000000,5.000000,6.000000,5.000000,5.000000,5.000000,4.000000,...,5.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,3.900000,1.000000
75%,5.000000,7.000000,6.000000,7.000000,7.000000,7.000000,6.000000,6.000000,6.000000,5.000000,...,6.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,4.900000,2.000000
max,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,5.000000,2.000000

In [7]:
# Se observa el tipo de datos de las columnas
data2.dtypes

I1         int64
I2         int64
I3         int64
I4         int64
I5         int64
          ...
I73        int64
I74        int64
I75        int64
lab_1    float64
final      int64
Length: 77, dtype: object

### ----------------------------------------

### Predicción con todas las características

#### Se crea el set de entrenamiento y de pruebas

In [8]:
# Se definen los valores de las características	
features = ['I1','I2','I3','I4','I5','I6','I7','I8','I9','lab_1']
			
# calificación
X = data2[features]
# se define la variable objetivo
y = data2['final'].values

# Se dividen los datos para el entrenamiento (80% entrenamiento y 20% pruebas)

#####
# INSERTE SU CÓDIGO AQUÍ
#####

# Métricas

#####
# INSERTE SU CÓDIGO AQUÍ
#####

Precisión: 0.76
Precisión: 0.75
Precisión: 0.74

### PREDICCIÓN ###

In [9]:
# Se genera la predicción con DT
y = pd.DataFrame({'I1':    [4], 
                  'I2':    [6],
                  'I3':    [4],
                  'I4':    [7],
                  'I5':    [5],
                  'I6':    [6],
                  'I7':    [6],
                  'I8':    [7],
                  'I9':    [7],
                  'lab_1': [4.6]})

#####
# INSERTE SU CÓDIGO AQUÍ
#####

[2] - Desempeño Alto (calificación mayor a 4.0)